{% extends 'base.html' %} {% block main %} {% for mess in get_flashed_messages()
%}
<div
  class="alert alert-secondary alert-dismissible fade show"
  role="alert"
  style="
    z-index: 1000;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
  "
>
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    class="fade close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  {{mess}}
</div>
{% endfor %}

<div
  style="
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
  "
>
  <img
    src="{{ url_for('static', filename = 'logo.png') }}"
    alt="Protons"
    style="width: 300px; height: 50px; background-color: white"
  />
  <h1 style="background-color: white">
    <b>The <i>PROTOLYMPICS</i></b>
  </h1>
  <form action="/login" method="POST" enctype="multipart/form-data">
    <a
      class="btn btn-warning"
      href="pset.pdf"
      role="button"
      target="_blank"
      style="width: 150px"
      ><i class="bi-box-arrow-up-left"></i> Problem Set</a
    >
    <a
      class="btn btn-info"
      href="scoreboard"
      role="button"
      target="_blank"
      style="position: absolute; right: 0px; width: 200px"
      >Scoreboard <i class="bi-arrow-bar-right"></i
    ></a>

    <br /><br />

    <label for="team">Team: </label>
    <select
      class="form-select"
      name="team"
      id="team"
      autocomplete="off"
      required
      style="position: absolute; right: 0px; width: 200px"
    >
      <option value="" selected hidden>Select Team</option>
      {%for i in range(0, n)%}
      <option value="{{i}}">{{teams[i]}}</option>
      {%endfor%}
    </select>

    <br />

    <label for="password" style="margin-top: 10px">Password: </label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="password"
      autocomplete="off"
      required
      placeholder="Enter Password"
      style="display: inline-block; width: 200px; float: right; margin-top: 5px"
    />

    <br />
    <br />
    <button type="reset" class="btn btn-warning" style="width: 150px">
      <i class="bi-arrow-repeat"></i> Reset
    </button>
    <button
      type="submit"
      class="btn btn-info"
      value="Login"
      style="position: absolute; right: 0px; width: 200px"
    >
      Login <i class="bi-box-arrow-in-right"></i>
    </button>
  </form>
</div>
{% endblock %}
