{% extends 'base.html' %} {% block main %}
<head>
  <script type="module">
    import * as Turbo from "/static/turbo.js";
    Turbo.connectStreamSource(
      new WebSocket(
        `ws${location.protocol.substring(4)}//${location.host}/turbo-stream`
      )
    );
  </script>
</head>
<div id="messages">
{% for mess in get_flashed_messages() %} {% include 'message.html' %} {% endfor
%}
</div>
<div
  style="
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
  "
>
  <img
    src="{{ url_for('static', filename = 'logo.png') }}"
    alt="Protons"
    style="width: 300px; height: 50px; background-color: white"
  />
  <h1 style="background-color: white">
    <b>The <i>PROTOLYMPICS</i></b>
  </h1>
  <form action="/" method="POST" enctype="multipart/form-data">
    <a
      class="btn btn-warning"
      href="pset.pdf"
      role="button"
      target="_blank"
      style="width: 150px"
      ><i class="bi-box-arrow-up-left"></i> Problem Set</a
    >
    <a
      class="btn btn-info"
      href="scoreboard"
      role="button"
      target="_blank"
      style="position: absolute; right: 0px; width: 200px"
      >Scoreboard <i class="bi-arrow-bar-right"></i
    ></a>

    <br /><br />

    <label for="team">Team: </label>
    <select
      class="form-select"
      name="team"
      id="team"
      autocomplete="off"
      disabled="true"
      style="position: absolute; right: 45px; width: 155px"
    >
      {%for i in range(0, n)%} {% if i == team %}
      <option value="{{i}}" selected>{{teams[i]}}</option>
      {% else %}
      <option value="{{i}}">{{teams[i]}}</option>
      {% endif %} {%endfor%}
    </select>
    <a
      class="btn btn-danger"
      href="login"
      role="button"
      style="position: absolute; right: 0px; width: 40px"
      ><i class="bi-x-square"></i
    ></a>

    <br />

    <label for="problem">Problem: </label>
    <select
      class="form-select"
      name="problem"
      id="problem"
      autocomplete="off"
      style="position: absolute; right: 0px; width: 200px"
    >
      <option value="" selected hidden>Select Problem</option>
      {%for i in range(0, m)%}
      <option value="{{i}}">{{problems[i]}}</option>
      {%endfor%}
    </select>

    <br />

    <label for="file">Solution: </label>
    <input
      class="form-control"
      type="file"
      name="file"
      id="file"
      accept=".py"
    />

    <br />
    <button type="reset" class="btn btn-warning" style="width: 150px">
      <i class="bi-arrow-repeat"></i> Reset
    </button>
    <button
      type="submit"
      class="btn btn-info"
      value="Submit"
      style="position: absolute; right: 0px; width: 200px"
    >
      Submit <i class="bi-upload"></i>
    </button>
  </form>
</div>
{% endblock %}
